<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <title>Liste des lignes de frais forfaitaires</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Détail</h1>
            <h2 class="subtitle"><a href="./">Retour</a></h2>
            <h2 class="subtitle">Liste des lignes de frais forfaitaires</h2>
            <div class="box">
                <ul>
                    <li>idVisiteur: {{ ficheFrais['idVisiteur'] }}<br></li>
                    <li>mois: {{ ficheFrais['mois'] }}<br></li>
                    <li>idFraisForfait: {{ ficheFrais['idFraisForfait'] }}<br></li>
                    <li>quantite: {{ ficheFrais['quantite'] }}<br></li>
                </ul>
            </div>
            <h2 class="subtitle">Liste des lignes de frais hors forfaitaires</h2>
            <div class="box">
                <ul>
                    <li>id: {{ ficheHorsFrais['id'] }}<br></li>
                    <li>idVisiteur: {{ ficheHorsFrais['idVisiteur'] }}<br></li>
                    <li>mois: {{ ficheHorsFrais['mois'] }}<br></li>
                    <li>libelle: {{ ficheHorsFrais['libelle'] }}<br></li>
                    <li>date: {{ ficheHorsFrais['date'] }}<br></li>
                    <li>montant: {{ ficheHorsFrais['montant'] }}<br></li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>