<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <title>GSB Frais - Suivre fiche de frais</title>
    </head>
    <body class="box">
      <h1 class="title is-1 has-text-centered">Suivre fiche de frais</h1>

      <h2 class="subtitle is-3 has-text-centered">
        <button class="button is-link is-light"><a href="/Comptable/Accueil">Retour</a></button>    
      </h2>  


    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Id Visiteur</th>
      <th>Mois</th>
      <th>Nombre de justificatifs</th>
      <th>Montant valide</th>
      <th>Date modif</th>
      <th>Etat</th>
    </tr>
  </thead>
  <tbody>
    {% for fiche in ficheFrais %}
    <tr>
      <td>{{ fiche.idVisiteur }}</td>
      <td>{{ fiche.mois }}</td>
      <td>{{ fiche.nbJustificatifs }}</td>
      <td>{{ fiche.montantValide }}</td>
      <td>{{ fiche.dateModif }}</td>
      <td>
        {% if fiche.idEtat == "VA" %}

        <form action="/Comptable/SuivreFicheFrais/SuivreValide/Modifier" method="POST">
          <input type="hidden" value={{fiche.idVisiteur}} name="idVisiteur" />
          <input type="hidden" value={{fiche.mois}} name="mois" />
          <button class="button is-link is-light is-small" onclick="return confirm('Êtes-vous sûr de vouloir mettre en paiement cet élément ?')" type="submit">Mettre en paiement</button>
        </form>

        {% elseif fiche.idEtat == "MP" %}

        <form action="/Comptable/SuivreFicheFrais/SuivreValide/Rembourser" method="POST">
          <input type="hidden" value={{fiche.idVisiteur}} name="idVisiteur" />
          <input type="hidden" value={{fiche.mois}} name="mois" />
          <button class="button is-link is-light is-small" onclick="return confirm('Êtes-vous sûr de vouloir remboursée cet élément ?')" type="submit">Remboursée</button>
        </form>
        
        {% endif %}
        
        {% if fiche.idEtat == "RB" %}
        <form action="/Comptable/SuivreFicheFrais/DetailFicheFraisValider" method="POST">
          <input type="hidden" value={{fiche.idVisiteur}} name="idVisiteur" />
          <input type="hidden" value={{fiche.mois}} name="mois" />
          <button class="button is-link is-light is-small" type="submit">Détail</button>
        </form>
        
        {% endif %}
      
      </td>
      {% if fiche.idEtat == "MP" %}
      <td>Mise en paiement</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>



<!--
      <footer class="footer">
        <div class="container is-max-desktop">
        <div class="columns">
      <div class="column">
        <strong>RB</strong>
        <strong>Remboursée</strong>
      </div>
      <div class="column">
        <strong>CL</strong>
        <strong>Saisie clôturée</strong>
      </div>
      <div class="column">
        <strong>CR</strong>
        <strong>Fiche créée, saisie en cours</strong>
      </div>
      <div class="column">
        <strong>VA</strong>
        <strong>Validée et mise en paiement</strong>
      </div>
      </div>
      </div>
      </footer>
-!>